<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="model.Model" id="Tesla" scope="prototype">
        <constructor-arg index="0" value="tesla"></constructor-arg>
        <constructor-arg index="1" value="2"></constructor-arg>
    </bean>

    <bean class="model.Model" id="zp1">
        <property name="name" value="Zaporozhets"/>
        <property name="doors" value="2"/>
    </bean>

    <bean class="model.Car" id = "myCar">
        <property name="number" value="AB00000"/>
        <property name="model" ref="Tesla"/>
    </bean>
    
    <context:component-scan base-package=""

</beans>